<% include default.ejs %>

<div>
    <h2>Privacy Policy</h2>
    <br/>
    <br/>
    <h4>
        *This policy is translated from the original document in Korean.
    </h4>
    <br/>
    <br/>
    <h4>
        The HaPoom operator 'Spika' puts the highest priority on protecting the privacy of all applicants and abides by laws and internal standards concerning personal information. Spika uses this Privacy Policy to inform you of the purpose and manner in which personal information provided by the inquirer is being used and how Spika is taking steps to protect personal information.<br/>
    </h4>
    <br/>
    <h4>
        1. Items of personal information being collected<br/>
    </h4>
    <h5>
        Name, gender, age, occupation, company name, contact, SNS, access log<br/>
    </h5>
    <br/>
    <h4>
        2. Purpose of collection and use<br/>
    </h4>
    <h5>
        1) Service delivery and improvement<br/>
        2) Interview<br/>
        3) Sending Notice<br/>
        4) Statistics, marketing, advertising<br/>
    </h5>
    <br/>
    <h4>
        3. Period<br/>
    </h4>
    <h5>
        Will be deleted when the purpose of collecting and using personal information is achieved<br/>
    </h5>
    <br/>
    <h4>
        4. You may refuse to consent to the collection, use and provision of personal information above. However, as described above, providing and storing the information is essential for the business of the company, so if you deny this consent, the service is limited.
        <br/><br/>
        Privacy Complaints Center (http://www.cyberprivacy.or.kr)<br/><br/>
        HaPoom Crew (02 539 3704 | info@hapoom.co)<br/>
    </h4>

</div>