<% include default.ejs %>

<div>
    <h2>개인정보 수집 및 이용에 대한 안내</h2>
    <br/>
    <br/>
    <h4>
        하품 운영사 ‘(주)스파이카‘는 모든 입주 신청자의 개인정보 보호를 최우선시하며, 개인정보에 관한 법률 및 내부 기준을 준수하고 있습니다. 어반하이브리드는 본 개인정보취급방침을 통하여 문의자가
        제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, ‘(주)스파이카‘가 개인정보보호를 위해 어떠한 조치를 취하고 있는지 알려드립니다.<br/>
    </h4>
    <br/>
    <h4>
        1. 수집하는 개인정보의 항목<br/>
    </h4>
    <h5>
        이름, 성별, 연령, 직업, 소속기관, 연락처, 소셜(SNS), 접속로그<br/>
    </h5>
    <br/>
    <h4>
        2. 수집 및 이용 목적<br/>
    </h4>
    <h5>
        1) 서비스 제공 및 개선<br/>
        2) 인터뷰<br/>
        3) 문의사항 전달<br/>
        4) 통계 및 마케팅, 광고 활용<br/>
    </h5>
    <br/>
    <h4>
        3. 보유 및 이용 기간<br/>
    </h4>
    <h5>
        개인정보의 수집 및 이용목적이 달성되면 지체없이 파기<br/>
    </h5>
    <br/>
    <h4>
        4. 위 개인정보의 수집·이용·제공에 대하여 동의를 거부할 수 있습니다. 다만, 상기와 같이 해당 정보의 제공 및 보관은 당사의 업무 진행에 꼭 필요한 사항이므로 본 동의를 거부하실 경우 서비스
        제공이 제한됨을 알려드립니다.<br/><br/>
        5. 개인정보 보호 및 의견수렴 및 불만처리<br/><br/><br/>
        개인정보침해신고센터 (http://www.cyberprivacy.or.kr)<br/>
        하품 경영진 (02.539.3704 | info@hapoom.co)<br/>
    </h4>

</div>